!DOCTYPE html>
<html lang="en">
<head>
<title>           Contract US         </title>
<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1 style="color:rgb(252, 247, 247); font-size: 25px;font-family:Comic Sans MS; font-style: italic;margin-bottom: 2%"> Management : Le Nhan <br></h1>
    <h2 style="color:rgb(252, 247, 247); font-size: 25px;font-family:Comic Sans MS; font-style: italic;margin-bottom: 1%"> Phone: xxx-xxx-xxxx <br></h2>
    <h3 style="color:rgb(252, 247, 247); font-size: 25px;font-family:Comic Sans MS; font-style: italic;margin-bottom: 1%"> SoftWare Developer : Hoang Nguyen <br></h3>
    <h4 style="color:rgb(252, 247, 247); font-size: 25px;font-family:Comic Sans MS; font-style: italic;margin-bottom: 1%"> Phone: xxx-xxx-xxxx <br></h4>
    <h5 style="color:rgb(252, 247, 247); font-size: 25px;font-family:Comic Sans MS; font-style: italic;margin-bottom: 1%"> SoftWare Developer : Leo Doan <br></h5>
    <h6 style="color:rgb(252, 247, 247); font-size: 25px;font-family:Comic Sans MS; font-style: italic;margin-bottom: 1%"> Phone: xxx-xxx-xxxx <br></h6>
  </body>