<!DOCTYPE html>
<html lang="en">
<head>                                                        
 <title>    GoRestaurant Software     </title>

 <link rel="stylesheet" href="stylehome.css">

</head>

<body>
    <div class="banner">
        <div class="navbar">
            <img src="/images/logo.png" width="100" alt="">
             <ul>
                <li> <a href="/login"> Login</a>

                 <li><a href="/aboutus">About Us</a></li>
                 <li><a href="/contractus">Contact</a></li>
                 <li><a href="/feelback">Feelback</a></li>

             </ul>
        </div>
       <div class="content">
    <h1> DESIGN YOUR SOFTWARE </h1>
    </div>
</body>




 </html>